<div id="<%= dom_id tasklist %>">
  <p>
    <strong>Task:</strong>
    <%= tasklist.task %>
  </p>

  <p>
    <strong>Duedate:</strong>
    <%= tasklist.duedate %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tasklist.status %>
  </p>

</div>
