<h1>Edit Task</h1>

<%= render "form", tasklist: @tasklist %>

<br>

<div>
  <%= link_to "Show this tasklist", @tasklist, class:"btn btn-secondary" %> |
  <%= link_to "Back to tasklists", tasklists_path, class:"btn btn-secondary" %>
</div>
