/* Link Color Change Task List*/

.link-color a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.link-color a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.link-color a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

.link-color a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
